<h1 class="text-center">Fyber Challenge</h1>

<%= form_for @offer, url: dashboard_index_path, html: { class: "m-t-lg form center-block" } do |f| %>
  <%= render partial: 'shared/form_errors', locals: { object: @offer } %>

  <fieldset class="form-group">
    <%= f.label :uid, "User unique ID" %>
    <%= f.text_field :uid, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :pub0, "Custom parameters" %>
    <%= f.text_field :pub0, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :page, "Page" %>
    <%= f.text_field :page, class: "form-control" %>
  </fieldset>

  <%= f.button "Get offers", class: "btn btn-success btn-block" %>
<% end %>
